body { background: #def709; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 11px; display: flex; }
.block-payment-0 { color: #809ac4; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #83e504; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #d4bee3; font-size: 21px; margin-bottom: 5px; }
.block-payment-3 { color: #a76da6; font-size: 14px; margin-bottom: 5px; }
.block-cache-4 { color: #c03d5c; font-size: 18px; margin-bottom: 5px; }
.block-cart-5 { color: #6a9d25; font-size: 13px; margin-bottom: 5px; }
.block-shipping-6 { color: #f4d2; font-size: 17px; margin-bottom: 5px; }